*{  margin: 0; padding: 0; }
ul,ol{ list-style: none; }
a { text-decoration: none; }
/* body { background: #9ab973; } */
body { background: #a3be8c; }
@font-face {
    font-family: "Hurin";
    src: url(fonts/hurin.ttf);
}
@font-face {
    font-family: "Diagonal Brown";
    src: url(fonts/DiagonalBrown.ttf);
}
@font-face {
    font-family: "Product Sans";
    src: url(fonts/Product\ Sans\ Regular.ttf);
}

.header .bg{
    position: relative;
    width: 100vw;
    height: 200px;
    background: url(images/cover.jpg) ;
    background-size: cover;
    background-position: 0%;
}

.header .bg .image{
    position: absolute;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 100%;
    bottom: -35%;
    left: 50%;
    transform: translateX(-50%);
}

.header .bg .image img{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 115px;
    height: 115px;
}

.header .heading h1{
    margin-top: 75px;
    font-weight: 400;
    font-size: 32px;
    font-family: "Hurin";
    color: black;
    text-align: center;
}


/* Links Section Start */
#link table{
    width: 100vw;
    border-collapse: collapse;
    margin-top: 10px;
}

#link table td{
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    padding: 15px 0 15px 0;
    box-sizing: border-box;
}

#link table td:nth-child(3){
    border-right: none;
}

#link table td:nth-child(1){
    background-color: #ebcb8b;
    border-left: none;
}

#link table td:nth-child(2){
    background-color: #b48ead;
}

#link table td:nth-child(3){
    background-color: #d08770;
    border-right: none;
}

#link table td a{
    color: black;
}

/* Links Section End */


/* Service Section Start */
#service{
    margin: 40px 0;
    color: black;
    padding: 0 15px;
    box-sizing: border-box;
}

#service .heading{
    font-family: "Hurin";
    font-size: 30px;
    margin-bottom: 15px;
}

#service ul{
    list-style: disc;
}

#service ul li{
    font-family: "Hind Siliguri";
    font-size: 20px;
    margin-left: 30px;
}

#service ul li span{
    font-family: "Product Sans";
}
/* Service Section End */

/* Address Section Start */
#address{
    margin: 40px 0;
    color: black;
    padding: 0 15px;
    box-sizing: border-box;
}

#address .heading{
    font-family: "Hurin";
    font-size: 30px;
    margin-bottom: 15px;
}

#address .address-text{
    font-size: 20px;
    font-family: "Product Sans";
}

#address iframe{
    margin-top: 15px;
    border-radius: 15px;
}
/* Address Section End */

